body
{
    animation: fadeInUp 1.2s ease-in-out, slideIn 1.2s ease-in-out;
}
/* Fade-in effect */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Subtle slide-in from left */
@keyframes slideIn {
    0% {
        transform: translateX(-20px);
    }
    100% {
        transform: translateX(0);
    }
}
.filtersection
{
    background: url('img/Image 18.svg');
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 50px;
}

a{
    text-decoration: none;
    color: #565E6C;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    font-size: 14px;
}
h3{
    color: black;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 15px;
}
h5
{
    color:  #323842;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 15px;
}